{% extends 'base.html.twig' %}

{% block title %}Hello CompteController!{% endblock %}

{% block body %}

{% if app.user %}
    <div class="mb-3">
        Tu es connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_login') }}">Logout</a>
    </div>
{% endif %}
<div class="example-wrapper">
    
    </div>
    {% for partie in parties %}
        {% if partie.etatPartie == 'en attente' %}
            <h2>les parties en attente d'un joueur</h2>
            {{ partie.id }}
            {{ partie.joueur1.pseudo }}
        {% else %}
            <h2>tte les parties</h2>
            {{ partie.id }}
            {{ partie.joueur1.email }}
            {{ partie.joueur2.email }}
        {% endif %}
    {% endfor %}
    <div>



    </div>
    <style>

    </style>
{% endblock %}
